body {
	direction: rtl;
	position: relative;
	padding-top: 40px;
	background: #f5ebe0;
	color: #2a1507;
}
body.en{
	direction: ltr;
}

p{
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
}

section {
	padding-top: 45px;
}

blockquote {
	border-color: #d9d5cf;
}
blockquote small::before {
	content: '';
}

.navbar{
	border-bottom: 1px solid #F5EBE0;
	-webkit-box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.69);;
	-moz-box-shadow:    0px 1px 5px rgba(255, 255, 255, 0.69);;
	box-shadow:         0px 1px 5px rgba(255, 255, 255, 0.69);;
}
.navbar-inner{
	background-color: #080a32;
	background-image: none;
}
.navbar .nav > li > a {
	color: #d9d5cf;
}
.navbar .brand{
	color: #d9d5cf;
	margin-right: -12px;
}

.hero-unit{
	color: #d9d5cf;
	background-color: #080a32;
}
.hero-unit h1{
	font-size: 45px;
}
.hero-unit .contact-details{
	color: #c0dbfc;
}
.hero-unit .contact-details:hover{
	text-decoration: none;
	opacity: 0.9;
}
.page-header{
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #d9d5cf;
}

.icon-envelope {
	background-position: -72px 0;
	background-image: url("../img/glyphicons-halflings.png");
}

#logoBanner{
	margin: 40px auto;
	text-align: center;
}

section#aboutme {
	padding-top: 0;
}
#aboutImage{
	padding-top: 15px;
}
#who .thumbnails{
	margin-top: 35px;
}

.footer{
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: #d9d5cf;
	text-align: center;
}

.footer img{
	width: 180px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.footer .tel{
	font-size: 16px;
}