body {
	direction: rtl;
	position: relative;
	padding-top: 40px;
}
section {
	padding-top: 30px;
}

#shaiCarousel img{
	height: 100%;
	width: 100%;
}
.class="page-header"{
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #EEE;
}
.footer{
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}